<%-  include('./partials/header.ejs')  %> 
<body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="container">
        <div class="card" id="form-ask">
            <div class="card-header">
                <h3>Make question</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/savequestion">
                    <label>Title</label>
                    <input type="text" placeholder="Title" class="form-control" name="title">
                    <br>
                    <label>Question</label>
                    <textarea name="description" placeholder="Type your question here." class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary">Ask</button>
                </form>
            </div>
        </div>
    </div>    
</body>
<%- include('./partials/footer.ejs') %> 